.add-employee {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: rgba(5, 5, 5, 0.141);
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-employee form{
    background-color:#F1EFEF ;
    height: 600px;
    width: 500px;
    border-radius: 6px;
    padding: 20px;
}
