.nav{
    background-color: #F1EFEF ;
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
    padding-left: 20px;
}
.nav .links , .nav .logo{
    width: 50%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 60px;
    display: flex;
}